@model IEnumerable<Meditours.Models.Itinerarios>
@{
    ViewData["Title"] = "Itinerario del paquete";
     Layout = "_Layout";
}

<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="Crear" asp-controller="Login" class="btn btn-success" d-block mx-auto btn-lg> <i class="fa-solid fa-user"></i> Nuevo Usuario</a>
    </div>
</div>

<div  class="container-fluid">
    <div class="offset-12"> 
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Lista de salidas</strong></h1>

            </div>

            <div class="card-body">
                <div class="table-responsive"> 
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered align-middle" id="tblUsuarios" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(x => x.Dia)</th>
                                <th>@Html.DisplayNameFor(x => x.HraSalida)</th>
                                <th>@Html.DisplayNameFor(x => x.Capacidad)</th>
                                <th>@Html.DisplayNameFor(x => x.Camionetas.Modelo)</th>
                                <th>@Html.DisplayNameFor(x => x.Paquetes.Nombre)</th>
                                <th> Acciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(x => item.Dia)</td>
                                    <td>@Html.DisplayFor(x => item.HraSalida)</td>
                                    <td>@Html.DisplayFor(x => item.Capacidad)</td>
                                    <td>@Html.DisplayFor(x => item.Camionetas.Modelo)</td>
                                    <td>@Html.DisplayFor(x => item.Paquetes.Nombre)</td>
                                    <td>
                                        <a class="btn btn-warning" asp-action="Agregar" asp-route-id=@item.PkItinerario><i class="fa-regular fa-pen-to-square"></i>Comprar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No hay registros</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tblUsuarios').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando START a END de TOTAL Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de MAX total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar MENU Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        }); 
    </script>

}