@model IEnumerable<Meditours.Models.Destinos>
@{
    ViewData["Title"] = "Paquetes";
     Layout = "_Layout";
}
   <!-- Package Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Increibles</h6>
                <h1 class="mb-5">Paquetes para ti</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="package-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="@ViewBag.Yucatan.Urlimg" alt="">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>4 dias</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>7 personas</small>
                        </div>
                        <div class="text-center p-4">
                            <h2 class="mb-1">Tour Yucatan Magico</h2>
                            <h3 class="mb-0">$@ViewBag.Yucatan.Precio .00</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p>@ViewBag.Yucatan.Descripcion</p>
                            <div class="d-flex justify-content-center mb-2">
										<a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Ver paquete</a>
										<a asp-action="Comprar" asp-route-id=@ViewBag.Yucatan.PkDestino class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="package-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="@ViewBag.Chichen.Urlimg" alt="">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>1 dia</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>6 personas</small>
                        </div>
                        <div class="text-center p-4">
                            <h2 class="mb-1">Tour Chichen Itza</h2>
                            <h3 class="mb-0">$@ViewBag.Chichen.Precio .00</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p>@ViewBag.Chichen.Descripcion</p>
                            <div class="d-flex justify-content-center mb-2">
										<a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Ver paquete</a>
										<a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="package-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="@ViewBag.Xcaret.Urlimg" alt="">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>6 dias</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>6 personas</small>
                        </div>
                        <div class="text-center p-4">
									 <h2 class="mb-1">Parques Xcaret</h2>
                            <h3 class="mb-0">$@ViewBag.Xcaret.Precio .00</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p>@ViewBag.Xcaret.Descripcion</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Ver paquete</a>
                                <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="package-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="@ViewBag.Isla.Urlimg" alt="">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>2 dias</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>4 personas</small>
                        </div>
                        <div class="text-center p-4">
									 <h2 class="mb-1">Tour Isla Mujeres</h2>
                            <h3 class="mb-0">$@ViewBag.Isla.Precio .00</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p>Lanzate a Isla Mujeres y pasa dos dias enteros nadando con delfines y visitando el parque Garrafon</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Ver paquete</a>
                                <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="package-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="@ViewBag.Puerto.Urlimg" alt="">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>1 dia</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>6 personas</small>
                        </div>
                        <div class="text-center p-4">
									 <h2 class="mb-1">Tour Puerto Morelos</h2>
                            <h3 class="mb-0">$@ViewBag.Puerto.Precio .00</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p>@ViewBag.Puerto.Descripcion</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Ver paquete</a>
                                <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="package-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="@ViewBag.Cozumel.Urlimg" alt="">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>6 dias</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>6 personas</small>
                        </div>
                        <div class="text-center p-4">
									 <h2 class="mb-1">Tour Cozumel</h2>
                            <h3 class="mb-0">$2199.00</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p>Conoce Cozumel, bucea por sus aguas, descubre sus playas virgenes y muchos rincones de esta bella isla</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Ver paquete</a>
                                <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Package End -->
